
h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 3em;
    color: #333;
}

p {
    font-family: 'Helvetica', sans-serif;
}

body {
    padding-top: 17%;
    background-color: #fefefe;
    /* height: 100%; */
}

.container {
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.header-title {
    width: 100%;
    text-align: center;
}

.forms-body {
    display: flex;
    justify-content: center;
}

.connect-container {
    justify-content: center;
    align-items: center;
}

* {
    /* border: 1px solid black; */
}

.connect-bar, .connect-button {
    outline:none;
}

.connect-bar {
    padding: 8px 15px;
    background: rgba(50, 50, 50, 0.2);
    border: 0px solid #dbdbdb;
}

.connect-button {
    position: relative;
    padding: 6px 15px;
    left: -8px;
    border: 2px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
}

.connect-button:hover {
    background-color:#fafafa;
    color:#207cca;
}
